/*Colors*/

/* Body background color*/
$primary-body-bg-color: #E5E5E5;,

$secondary-body-bg-color: #FFF5F6;,

/* Main text color*/
$text-color: #000000;,

/*Primary text color*/
$primary-text-color: #FFFFFF;,

/*Secondary text color*/
$secondary-text-color: #907E82;,

/* Header background color*/
$primary-header-bg-color: #FFB8CA;,

$secondary-header-bg-color: #FFA5BA;,

/* hover color */
$hover-socialmedia-color: #D41443;,
$hover-button-color: #D41342;






/* H2 and H3 color */
$h2-color; #D41443;,

$h3-color: #FFA5BA;,




/* Logo main color */
$logo-main-color: #D41443;,

