<!-- ABOUT -->
<section class="section-about">
  <div class="container">

    <p class="about__note about__note--style">tradition and love</p>
    <h1 class="section__title section__title--style">how it’s made?</h1>
    
    <div class="about__wrap">
      <div class="about__picture">
        <img class="about__image"
          src=" /src/images/about/pc-cow-pic-516x516.png"
          srcset="
            /src/images/about/pc-cow-pic-516x516.png            516w,
            /src/images/about/pc-cow-1032x1032-@2x.png          1032w,
            /src/images/about/tablet-cow-pic-340x339.png        340w,
            /src/images/about/tabket-cow-pic-680x678-@2x.png    680w,
            /src/images/about/mobile-cow-pic-280x279.png        280w,
            /src/images/about/mobile-cow-pic-560x558-@2x.png    560w
          "
          alt="Cow with a jug of milk"
          sizes="(min-width: 1200px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px"
        />
    </div>
      <div class="about__discription">
        <b class="about__importent-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
          justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
          erat at justo fringilla.
        </b>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio
          elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
          euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
          massa nibh, tincidunt.
          <br><br> erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button">Reade mire</button>
      </div>
    </div>
  </div>
</section>


  