<!-- ADVANTAGES -->
<section class="section-advantages">
  <div class="container">

    <h1 class="section__title section__title--display-none"></h1>
    <ul class="advantages list">
      <li class="advantages__item">
          <figure class="advantages__figure">
          <p class="advantages__numbers">721</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </figure>
      </li>

      <li class="advantages__item">
          <figure class="advantages__figure">
          <p class="advantages__numbers">16kg</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </figure>
      </li>
      <li class="advantages__item">
          <figure class="advamtades__figure">
          <p class="advantages__numbers">84</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </figure>
      </li>

    </ul>
  </div>
</section>