<article class="advantades">
        <!-- ADVANTADES -->
        <section class="advantades">
          <div class="container">
    
            <h1 class="section__title section__title--display-none"></h1>
            <ul class="advantades list">
              <li class="advantades__item">
                  <figure class="advantades__figure">
                  <p class="advantades__numbers">721</p>
                  <p class="advantades__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>
                </figure>
              </li>
    
              <li class="advantades__item">
                  <figure class="advantades__figure">
                  <p class="advantades__numbers">16kg</p>
                  <p class="advantades__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>
                </figure>
              </li>
              <li class="advantades__item">
                  <figure class="advamtades__figure">
                  <p class="advantades__numbers">84</p>
                  <p class="advantades__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>
                </figure>
              </li>
    
            </ul>
          </div>
        </section>
</article>