<section class="section-contact">
    <div class="container">
        <ul class="contact">
            <li class="contact__item">
                <ul class="menu">
                    <li class="menu__item">
                        <button class="menu__border">
                            <span class="menu__name">CAFE</span>
                    </li>
                    <li class="menu__city">
                        <p>Chicago</p>
                    </li>
                    <li class="menu__offer">
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="line">
                        <p class="menu__days menu__days--margin">Monday-Friday</p>
                        <p class="menu__hour menu__hour--margin1">06:00 AM - 10:00 PM</p>
                        <p class="menu__days">Saturday - Sunday</p>
                        <p class="menu__hour menu__hour--margin2">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="line">
                        <p class="menu__communication">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="contact__item">
                <ul class="menu">
                    <li>
                        <button class="menu__border menu__border--color">
                            <span class="menu__name">FOOD TRUCK</span>
                    </li>
                    <li class="menu__city">
                        <p>Los Angeles</p>
                    </li>
                    <li class="menu__offer">
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="line">
                        <p class="menu__days menu__days--margin">Monday-Friday</p>
                        <p class="menu__hour menu__hour--margin1">06:00 AM - 10:00 PM</p>
                        <p class="menu__days">Saturday - Sunday</p>
                        <p class="menu__hour menu__hour--margin2">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="line">
                        <p class="menu__communication">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
            <li class="contact__item">
                <ul class="menu">
                    <li>
                        <button class="menu__border">
                            <span class="menu__name">CAFE</span>
                    </li>
                    <li class="menu__city">
                        <p>New York</p>
                    </li>
                    <li class="menu__offer">
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="line">
                        <p class="menu__days menu__days--margin">Monday-Friday</p>
                        <p class="menu__hour menu__hour--margin1">06:00 AM - 10:00 PM</p>
                        <p class="menu__days">Saturday - Sunday</p>
                        <p class="menu__hour menu__hour--margin2">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="line">
                        <p class="menu__communication">+61(0) 383 766 284 noreply@envato.com</p>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="buttons">
            <button class="option">
                <span class="option__name">Our Locations</span>
                <svg class="option__icon" width="15" height="20">
                    <use href="./image/icons.svg#icon-vector"></use>
                </svg>
            </button>
            <button class="option option--background option--margin">
                <span class="option__name option__name--color">Franchise</span>
                <svg class="option__icon option__icon--color" width="15" height="20">
                    <use href="./image/icons.svg#icon-vector"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
</main>
<footer class="footer">
    <section class="container">
        <div class="page">
            <div class="footer-name">
                <h3 class="footer-name__h3">HOMEMADE ICE CREAM MADE</h3>
                <h2 class="footer-name__h2">WITH PASSION</h2>
            </div>
            <div class="footer-socialmedia">
                <ul class="socialmedia">
                    <li class="icone-socialmedia">
                        <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                            <svg width="34" height="34">
                                <use href="./image/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="icone-socialmedia">
                        <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                            <svg width="34" height="34">
                                <use href="./image/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="icone-socialmedia">
                        <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                            <svg width="34" height="34">
                                <use href="./image/icons.svg#icon-fb"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="socialmedia__contact">Feel free to contact <a class="socialmedia__contact--color"
                        href="+61(0) 383 766 284">+61(0) 383
                        766 284</p>
            </div>
        </div>
        <div class="footer-sign">
            <p class="sign">© 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </section>
</footer>
