<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/main.css" />
    <!-- <link rel="stylesheet" href="../sass/basis/products.css"> -->
</head>
<footer>
    <section class="container">
        <div class="footer-name">
            <h3 class="footer-name__h2">HOMEMADE ICE CREAM MADE</h3>
            <h2 class="footer-name__h3">WITH PASSION</h2>
        </div>
        <div class="footer-socialmedia">
            <ul class="socialmedia">
                <li class="icone-socialmedia">
                    <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                        <svg width="44" height="44">
                            <use href="../images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="icone-socialmedia">
                    <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                        <svg width="44" height="44">
                            <use href="../images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="icone-socialmedia">
                    <a class="icone icone-socialmedia--color icone-socialmedia--hover" href="#">
                        <svg width="44" height="44">
                            <use href="../images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <h4>Feel free to contact <a class="phone" href="+61(0) 383 766 284">+61(0) 383 766 284</h4>
        </div>
        <div class="footer-sign">
            <p class="sign">© 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </section>
</footer>
</html>