<section class="gallery">
    <div class="container">
    </div>
    </section>


    <div class="container">
    <section class="customers">
       
        <div class="customers__image">
            <img 
            src="./images/gallery/testimonials.png"
            width="85"
            height="85"/>
        </div>
        <div class="customers__icon">
        <img
        src="./images/gallery/znak.png"
        width="54"
        height="40"/>
    </div>
        <h3 class="customers__text">Nullam viverra consectetuer. 
            Quisque cursus et, porttitor risus. Aliquam sem. 
            In hendrerit nulla quam nunc, accumsan congue. 
            Lorem ipsum primis in nibh vel risus.
        </h3>
       <ul class="customers__dots">
        <li class="customers__oval"></li>
        <li class="customers__oval"></li>
        <li class="customers__oval"></li>
     </ul>

     <h3 class="clients">Emily, Los Angeles</h3>

     
     <section class="hr__icon">
        <img
           src="./images/gallery/hr dots.png"
           width="72"
           height="12" />
     
     </section>

</section>       
</div>
