<div class="hamburger js-menu-container">
  <button class="hamburger__close-btn js-close-menu">
    <svg class="hamburger__x">
      <use href="./images/icons.svg#x"></use>
    </svg>
  </button>
  <button type="button" class="navigation-bar__button--btn hamburger__button">
    Buy now
    <svg class="navigation-bar__button--chevron">
      <use href="./images/icons.svg#chevron"></use>
    </svg>
  </button>
  <div class="hamburger-list-container">
    <ul>
      <li class="hamburger-list-container__item">
        <a href="#" class="hamburger-list-container__link hamburger-list-container__link--active">Home</a>
      </li>
      <li class="hamburger-list-container__item">
        <a href="#" class="hamburger-list-container__link">About us</a>
      </li>
      <li class="hamburger-list-container__item">
        <a href="#" class="hamburger-list-container__link">How it's made?</a>
      </li>
      <li class="hamburger-list-container__item">
        <a href="#" class="hamburger-list-container__link">Our products</a>
      </li>
      <li class="hamburger-list-container__item">
        <a href="#" class="hamburger-list-container__link">Contact</a>
      </li>
    </ul>
  </div>
</div>