    <header>
      <div class="navigation-bar">
        <div class="navigation-bar__logo">
          <img src="images/logo.png" />
        </div>
        <ul class="navigation-bar__menu">
          <li>Home</li>
          <li>About us</li>
          <li>How it's made?</li>
          <li>Our products</li>
          <li>Contact</li>
        </ul>
        <div class="navigation-bar__button">
          <button type="button">Buy now</button>
        </div>
      </div>
      <div class="hero">
        <div class="heading">
          <h1 class="heading__text">Ice cream made with <span>passion</span></h1>
          <button type="button" class="heading__button">Products</button>
          <button type="button" class="heading__button">How it's made?</button>
        </div>
        <div class="milk-picture">
          <img src="images/header-milk-desktop-1x.png" class="milk-picture__picture" />
          <div class="milk-picture__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <svg class="milk-picture__button">
              <use href="images/icons.svg#image0_1_225"></use>
            </svg>
          </div>
        </div>
        <div class="ice-cream">
          <img class="ice-cream__picture" src="images/header-cone-desktop-1x.png" />
          <svg class="ice-cream__ellipse"><use href="images/icons.svg#ellipse"></use></svg>
        </div>
        <div class="numbers">
          <svg class="numbers__ellipse numbers__ellipse--one">
            <use href="images/icons.svg#ellipse"></use>
          </svg>
          <span class="numbers__digits numbers__digits--one">16</span
          ><span class="numbers__text numbers__text--one">cafes</span>
          <svg class="numbers__ellipse numbers__ellipse--two">
            <use href="images/icons.svg#ellipse"></use>
          </svg>
          <span class="numbers__digits numbers__digits--two">23</span
          ><span class="numbers__text numbers__text--two">food trucks</span>
        </div>
        <div class="woman-photo"></div>
      </div>
    </header>
