<article class="how-its-made">
    <!-- HOW IT'S MADE -->
    <section class="how-its-made">
      <div class="container">

        <p class="how-its-made__note how-its-made__note--style">tradition and love</p>
        <h1 class="section__title section__title--style">how it’s made?</h1>
        
        <div class="how-its-made__wrap">
          <div class="how-its-made__picture">
            <img class="how-its-made__image"
            src=" ./images/how-its-made/pc-cow-pic-516x516.png"/>
            <!-- <img class="how-its-made__image"
            src="./images/how-its-made/pc-cow-pic-516x516.png"
              srcset="
               280w,
               560w,
               340w,
               680w,
               516w,
               1032w
              "
              alt="Cow widt milk."
              sizes="(min-width: 1200px)  516px,(min-width: 768px) 340px, (min-width: 480px) 280px"
              /> -->
          </div>
          <div class="how-its-made__discription">
            <b class="how-its-made__importent-text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </b>
            <p class="how-its-made__text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
              massa nibh, tincidunt.
              <br><br> erat volutpat. Aenean accumsan.
            </p>
            <button class="how-its-made__button">Reade mire</button>
          </div>
        </div>
      </div>
    </section>
  </article>
  