<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <p> 100% NATURAL</p>
            <h1>PRODUCTS</h1>
            <ul>
                <li>
                    <figure>
                        <picture>
                            <source srcset="../images/desktoppic1.png 1x, ../images/desktoppic1@2x.png 2x "
                            media="(min-width=1200px)" >
                            <source srcset="../images/tabletpic1.png 1x, ../images/tabletpic1@2x.png 2x "
                            media="(min-width=768px)" >
                            <source srcset="../images/mobilepic1.png 1x, ../images/mobilepic1@2x.png 2x "
                            media="(min-width=480px)" >
                            
                            <img src="../images/desktoppic1.png" />
                        </picture>
                        <figcaption>
                            <div>
                                <h2>ICE CREAM</h2>
                                <ul>
                                    <li>o</li>
                                    <li>o</li>
                                    <li>o</li>
                                </ul>
                                <p>
                                text  
                                </p>
                                <button>guzik</button>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                    <picture>
                        <source srcset="../images/desktoppic2.png 1x, ../images/desktoppic2@2x.png 2x "
                            media="(min-width=1200px)" >
                            <source srcset="../images/tabletpic2.png 1x, ../images/tabletpic2@2x.png 2x "
                            media="(min-width=768px)" >
                            <source srcset="../images/mobilepic2.png 1x, ../images/mobilepic2@2x.png 2x "
                            media="(min-width=480px)" >
                            
                            <img src="../images/desktoppic2.png" />
                        </picture>
                        <figcaption>
                            <div>
                                <h2>ICE CREAM</h2>
                                <ul>
                                    <li>o</li>
                                    <li>o</li>
                                    <li>o</li>
                                </ul>
                                <p>
                                text  
                                </p>
                                <button>guzik</button>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <picture>
                            <source srcset="../images/desktoppic3.png 1x, ../images/desktoppic3@2x.png 2x "
                                media="(min-width=1200px)" >
                                <source srcset="../images/tabletpic3.png 1x, ../images/tabletpic3@2x.png 2x "
                                media="(min-width=768px)" >
                                <source srcset="../images/mobilepic3.png 1x, ../images/mobilepic3@2x.png 2x "
                                media="(min-width=480px)" >
                                
                                <img src="../images/desktoppic3.png" />
                            </picture>
                        
                        <figcaption>
                            <div>
                                <h2>ICE CREAM</h2>
                                <ul>
                                    <li>o</li>
                                    <li>o</li>
                                    <li>o</li>
                                </ul>
                                <p>
                                text  
                                </p>
                                <button>guzik</button>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>