.footer {
    background-color: #FFF5F6;


    &__contact {
        color: #000000;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
    }

    &-sign {
        display: flex;
        justify-content: center;
        border-top: 1px solid #E1E1E1;
    }

    &-name {
        display: flex;
        flex-wrap: wrap;

        &__h3 {
            display: flex;
            font-family: "Titan One";
            font-style: normal;
            font-size: 18px;
            line-height: 1.17;
            color: #FFA5BA;
            margin-bottom: 17px;
            margin-left: 20px;
            margin-right: 66px;
            text-align: left;
        }

        &__h2 {
            display: flex;
            font-family: 'Titan One';
            font-style: normal;
            font-size: 34px;
            line-height: 1.15;
            color: #D41443;
            text-align: left;
        }
    }
}

.footer-socialmedia {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}



.socialmedia {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    &__contact {
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 12px;
        line-height: 1.83;
        color: #000000;


        &--color {
            color: #D41443
        }
    }
}

.sign {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #907E82;
    text-decoration: none;
    margin-top: 22px;
    margin-bottom: 25px;
    vertical-align: top;
}

.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

//desktop
@media screen and (min-width: 1200px) {

    .page {
        display: flex;
        justify-content: space-between;
        margin-bottom: 97px;
        flex-direction: row;
    }

    .sign {
        margin-top: 9px;
        margin-bottom: 9px;
        line-height: 1.86;

    }

    .footer {

        &-socialmedia {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &-name {
            display: flex;
            justify-content: flex-start;

            &__h3 {
                font-size: 30px;
                line-height: 1.13;
                margin-bottom: 15px;
                margin-left: 0;
                margin-right: 0;
            }

            &__h2 {
                font-size: 58px;
                line-height: 1.14;
            }
        }
    }


    .socialmedia {
        list-style: none;
        display: flex;
        margin-bottom: 50px;

        &__contact {
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            color: #000000;
        }
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .sign {
        margin-bottom: 18px;
        margin-top: 28px;
        line-height: 1.86;
    }

    .socialmedia__contact {
        line-height: 1.86;
        margin-top: 46px;
    }

    .footer {

        &-socialmedia {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &-name {
            display: flex;
            justify-content: flex-start;

            &__h3 {
                font-size: 26px;
                line-height: 1.15;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }

            &__h2 {
                font-size: 48px;
                line-height: 1.15;
            }
        }

        .page {
            margin-bottom: 91px;
            flex-direction: row;
        }
    }
}

//mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
            &-name {
                flex-direction: column;
    
    
                &__h2 {
                    margin-bottom: 43px;
                    margin-left: 20px;
                }
    
                &__h3 {
                    margin-left: 20px;
                }
            }
        }

    .footer-socialmedia {
        flex-direction: column;
    }

    .socialmedia__contact {
        margin-top: 46px;
        margin-bottom: 43px;
    }
}