.gallery{ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 122px;
    max-width: 364px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/gallery/gallery-mobile.png');
    @media screen and (max-width:320px) {
        background-image: url('../images/gallery/gallery-mobile.png');
    }
    
    @media screen and (min-width:768px) {
        max-width: 768px;
        height: 264px;
        background-image: url('../images/gallery/gallery-tablet.png');
    }
    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        height: 430px;
        background-image: url('../images/gallery/gallery.png');
        
    }
}

.customers{
    width: 280px;
    height: 541px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 74px;
    @media screen and (max-width:320px){
        width: 160px;
        height: 541px;
    }
    @media screen and (min-width:768px) {
        width: 620px;
        height: 382px;
        margin-left: 74px;
        margin-right: 74px;
        
    }
    @media screen and (min-width: 1280px) {
       width: 750px;
        height: 52px;
        margin-left: 177px;
        margin-right: 177px;
    }
  
    
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

    }
    &__icon{
        display: block;
        position:absolute;
        z-index: -1;
        transform: translate(-30%, -30%);
        @media screen and (min-width:768px) {
            transform: translate(-70%, -30%);
        }
        @media screen and (min-width:1200px) {
            transform: translate(-80%, -30%);
        }
        
    }
    &__text{
        font-family: $base-text;
        font-style: normal;
        flex-wrap: wrap;
        // width: 750px;
        // height: 52px;
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.04em;
        color:$secondary-base-color;
        margin: 0;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto; 
    }

&__dots{
    display:flex;
   flex-direction:row;
   list-style:none;
   padding:45px 0px 15px 0px;
   margin: 0;
   justify-content: center;
}
&__oval{
    width: 4px;
    height: 4px;
    margin:4px;
    border:1px solid $color-prim-dots;
    border-radius:50%;
    background-color:$color-prim-dots;
}
}
.clients{
font-family: $base-text;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 37px;
text-align: center;
color:$secondary-base-color;
margin: 0;
@media screen and (max-width:320px) {
 width: 172px;
height: 25px;
}
}
.hr__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}