

button:hover {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

* {
  margin: 0px;
  padding: 0px;
}

:hover,
:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
  cursor: pointer;
}

// For removal

.header {
  background-color: salmon;
}

.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}



.numbers {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  right: 20vh;
  max-width: 200px;
  align-items: flex-end;
  text-align: end;
  font-size: 1.5rem;
  line-height: 1.14;
  z-index: 1005;

  &__ellipse {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -1000;
    right: -2vh;
    &--two {
      bottom: 40%;
    }
  }

  &__text {
    margin-bottom: 80px;
  }

  &__digits {
    font-size: 3rem;
  }
}

.woman-photo {
  min-height: 232px;
  min-width: 290px;
  background-image: url(/images/header-woman-desktop-1x.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0vh;
  right: 3vh;
}

.heading {
    display: grid;
    max-width: 30%;
    column-gap: 15px;
    padding-top: 100px;
    padding-left: 70px;

    &__text {
    grid-column: 1 / span 2;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 1.14;
    margin-bottom: 20px;

    &--accent {
    font-size: 58px;
    line-height: 0.9;
    }
    }

    &__button {
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-size: 14px;
    line-height: 1.28;
    max-width: 130px;
    }
}

.hero {
    position: relative;
}

@media screen and (max-width: 1200px) {

.heading {
padding-top: 40px;
padding-left: 50px;
}
}

.milk-picture {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 50%;
    min-height: 200px;
    column-gap: 30px;
    padding: 70px 0 50px 65px;

    &__text {
    max-width: 180px;
    font-size: 14px;
    line-height: 140%;
    margin: auto 0;
    }

    &__button {
    display: block;
    width: 10px;
    height: 10px;
    fill: red;
    }

    &__ellipse {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .milk-picture {
padding: 20px 0 40px 40px;
}
}

.ice-cream {
    position: relative;
    left: 475px;
    top: 52px;

    &-ellipse {
    position: absolute;
    width: 570px;
    height: 538px;
    top: -4vh;
    right: 24vh;
    fill: lightblue;
    }

    &-picture {
    position: absolute;
    left: 47%;
    bottom: 0;
    z-index: 1001;
    height: 605px;
    }
}

@media screen and (max-width: 1200px) {

.ice-cream-picture {
    height: 512px;
}

.ice-cream-ellipse {
right: 9vh;
top: -9vh;
}
}

.numbers {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10vh;
  right: 20vh;
  max-width: 200px;
  align-items: flex-end;
  text-align: end;
  font-size: 1.5rem;
  line-height: 1.14;
  z-index: 1005;

  &__ellipse {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: -1000;
    right: -2vh;
    &--two {
      bottom: 40%;
    }
  }

  &__text {
    margin-bottom: 80px;
  }

  &__digits {
    font-size: 3rem;
  }
}

.woman-photo {
  min-height: 232px;
  min-width: 290px;
  background-image: url(/images/header-woman-desktop-1x.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0vh;
  right: 3vh;
}





