
.products {
    display:flex;
    flex-direction:column;
    align-items:center;
    

 &__ul{
    display:grid;
    grid-template-columns: 335px 335px 335px;
    column-gap:29px;
    list-style:none;
}

&__image{
    width: 335px;
    height: 335px;
    margin-bottom:-125px;
}



&__start{
    font-weight: 400;
    font-size:30px;
    line-height:1.14em;
    text-transform:uppercase;
    text-align:center;
    color:#ffa5ba;
    font-family:'Titan One';
}

&__header{
    font-size:58px;
    line-height:1.13em;
    letter-spacing:0.06em;
    text-align:center;
    text-transform:uppercase;
    color:#d41443;
    font-family:'Titan One';
}

&__header2{
font-weight:400;
font-size: 30px;
line-height:1.13em;
text-transform:uppercase;
color: $primary-text-color;
margin-top:165px;
font-family:'Titan One';
letter-spacing: 0.04em;
}

&__figure{
    display:flex;
    flex-direction:column;
    margin:auto;
}

&__dots{
   display:flex;
   display:row;
  list-style:none;
  padding:32px;
  justify-content: center;
}

&__oval{
    width: 6px;
    height: 6px;
    margin:4px;
    border:1px solid $primary-text-color;
    border-radius:50%;
    background-color:$primary-text-color;
}

&__text{
    font-weight:700;
    font-size:16px;
    line-height:1.76em;
    letter-spacing: 0.04em;
    width: 241px;
    padding-bottom:32px;
    color:$primary-text-color;
    margin:auto;
    font-family:'DM Sans';
}

&__figcaption{
    background-color:$primary-header-bg-color;
    border-radius:24px;
    width: 329px;
    height: 525px;
    z-index:-1;
    text-align:center;
    &--color2{
        background-color:#F0d1a5;
    }
    
    &--color3{
        background-color:#c2e297;
    }
    
    
}
}

.button-products {

    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color:$primary-text-color;
    border:none;

&:hover{
    cursor:pointer;

}

&__svg{
    width: 20px;
    height: 20px;
    fill:$logo-main-color;
}
&:hover{
    cursor:pointer;
}
}

@media (max-width:767px) {
    
    .products{
    

    &__ul{
        grid-template-columns: 280px;
        padding:0;
    }
    
    &__image{
        width: 249px;
        height: 252px;
        padding: 0px 16px;
    }
    
  
    &__start{
        font-size:18px;
    }
    
    &__header{
        font-size:34px;
    }
    
    &__header2{
    font-size: 20px;
    }
    
        
    &__text{
        font-size:14px;
        width: 200px;
    }
    
    &__figcaption{
        width: 280px;
        height: 485px;
        &--color2{
            background-color:#F0d1a5;
        }
        
        &--color3{
            background-color:#c2e297;
        }
    }
}
        
}



@media (min-width:768px) and (max-width:1199px) {

    .products{
    
    &__ul{
        grid-template-columns: 220px 220px 220px;
        padding:0;
    }
    
    &__image{
        width: 220px;
        height: 226px;
        margin-bottom:-125px;
    }
    
    
    
    &__start{
        font-size:26px;
    }
    
    &__header{
        font-size:48px;
    }
    
    &__header2{
    font-size: 20px;
    margin-top:165px;
    }
    
    &__figure{
        display:flex;
        flex-direction:column;
        margin:auto;
    }
    
    
    
    &__text{
        font-size:14px;
        width:200px;
    }
    
    &__figcaption{
        width: 220px;
        height: 485px;
   
   &--color2{
            background-color:#F0d1a5;
        }
        
    &--color3{
            background-color:#c2e297;
        }
        
    }
}
    
    
}
