
.products {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 127px;
    margin-bottom: 244px;
    

 &__ul{
    display:grid;
    grid-template-columns: 335px 335px 335px;
    column-gap:60px;
    list-style:none;
}

&__image{
    width: 335px;
    height: 335px;
    margin-bottom:-125px;
}



&__start{
    font-weight: 400;
    font-size:30px;
    line-height:1.14em;
    text-transform:uppercase;
    text-align:center;
    color:$secondary-accent-color;
    font-family:$accent-text;
}

&__header{
    font-size:58px;
    line-height:1.13em;
    letter-spacing:0.06em;
    text-align:center;
    text-transform:uppercase;
    color:$color-btn;
    font-family:$accent-text;
}

&__header2{
font-size: 30px;
line-height:1.13em;
text-transform:uppercase;
color:$white-btn;
margin-top:125px;
font-family:$accent-text;
letter-spacing: 0.04em;
padding-top:30px;
&::after{
    content:"...";
    display:block;
    letter-spacing: 6px;
    color:white;
    margin:30px 0px;
}
}

&__figure{
    display:flex;
    flex-direction:column;
    margin:auto;
}

&__dots{
   display:flex;
   display:row;
  list-style:none;
  padding:32px;
  justify-content: center;
}

&__oval{
    width: 6px;
    height: 6px;
    margin:4px;
    border:1px solid $base-color;
    border-radius:50%;
    background-color:$base-color;
}

&__text{
    font-weight:700;
    font-size:16px;
    line-height:1.76em;
    letter-spacing: 0.04em;
    width: 241px;
    padding-bottom:32px;
    color:$base-color;
    margin:auto;
    font-family:$base-text;
}

&__figcaption{
    background-color:$first-panel-bg;
    border-radius:24px;
    width: 329px;
    height: 525px;
    z-index:-1;
    text-align:center;
    &--color2{
        background-color:$second-panel-bg;
    }
    
    &--color3{
        background-color:$third-panel-bg;
    }
    
    
}
}

.button-products {

    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color:$white-btn;
    border:none;

&__svg{
    width: 20px;
    height: 20px;
    fill:$color-btn;
}
}

@media (max-width:767px) {
    
    .products{
    

    &__ul{
        grid-template-columns: 280px;
        padding:0;
    }
    
    &__image{
        width: 249px;
        height: 252px;
        padding: 0;
        margin-left:16px;
    }
    
  
    &__start{
        font-size:18px;
    }
    
    &__header{
        font-size:34px;
    }
    
    &__header2{
    font-size: 20px;
    padding-top:20px;
    }
    
        
    &__text{
        font-size:14px;
        width: 200px;
    }
    
    &__figcaption{
        width: 280px;
        height: 485px;
        &--color2{
            background-color:$second-panel-bg;
        }
        
        &--color3{
            background-color:$third-panel-bg;
        }
    }
}
        
}



@media (min-width:768px) and (max-width:1199px) {

    .products{
    
    &__ul{
        grid-template-columns: 220px 220px 220px;
        padding:0;
        column-gap:20px;
        margin-left:44px;
    }
    
    &__image{
        width: 220px;
        height: 226px;
        padding: 0;
        margin-bottom:-125px;
    }
    
    
    
    &__start{
        font-size:26px;
    }
    
    &__header{
        font-size:48px;
    }
    
    &__header2{
    font-size: 20px;
    margin-top:125px;
    padding-top:30px;
    }
    
    &__figure{
        display:flex;
        flex-direction:column;
        margin:auto;
    }
    
    
    
    &__text{
        font-size:14px;
        width:220px;
    }
    
    &__figcaption{
        width: 220px;
        height: 485px;
   
   &--color2{
            background-color:$second-panel-bg;
        }
        
    &--color3{
            background-color:$third-panel-bg;
        }
        
    }
}
    
    
}
