/* ADVANTADES */
.advantades{
    display: flex;
}

.section__title--display-none{
    display: none;
}

.adavantades__item{
    width: 1282px;
    height: 534px;
}

.adavantades__text{
    
    width: 330px;
    height: 52px;


    /* font-family: 'DM Sans'; */

    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    /* or 28px */

    letter-spacing: 0.02em;

    color: #000000;
}

.advantades__numbers{
    width: 98px;
    height: 65px;
    
    /* font-family: 'Titan One'; */
    font-weight: 400;
    font-size: 58px;
    line-height: 1.137;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #D41443;
}

/* ADVANTADES */